html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  font-family: "open-sans", sans-serif;
}
.wrapper {
  flex: 1 0 auto;
}
footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: $yellow-grey;
  margin-top: 2rem;
  font-size: 0.8em;
  color: $secondary;
  padding: 1em 5em;
}

footer a,
footer div {
  color: $gray;
  font-size: 12px;
}

footer a:hover {
  color: $secondary;
}
@media only screen and (max-width: 1140px) {
  footer {
    display: block;
    text-align: center;
  }
}
